.files
{
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    overflow:hidden;
    background:white;

    z-index:3;
    transition:left 0.5s ease 0s;
    left:100%;
    font-size:0px;
    text-align:left;
}
.files.focused
{
    left:0%;
}
.files_ariane
{
    position:relative;
    height:4.1rem;
    background:#333;
    color:#fff;
    line-height:4.1rem;
    font-size:1.3rem;
    padding:0rem 1.0rem;
    border-bottom:2px solid white;
}
.files_ariane .ariane_previous
{
    float:left;
    position:relative;
    left:-0.5rem;
}
.files_ariane_overflow
{
    float:left;
    text-align:right;
    max-width:calc(100% - 10rem);
    white-space:nowrap;
    direction:rtl;
    overflow:hidden;
}
.files_ariane_overflow span
{
    display:inline-block;
    direction:ltr;
    margin-right:0.4rem;
}

.files_ariane .fa
{
    display:inline-block;
    width:4.1rem;
    height:4.1rem;
    line-height:4.1rem;
    font-size:2rem;
    text-align:center;
    vertical-align:top;
}

.files_container
{
    position:absolute;
    bottom:5rem;
    top:9.5rem;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
}
.files_container li.loading
{
    display:inline-block;
    position:absolute;
    top:43%;
    left:0%;
    width:100%;
    font-size:3rem;
    transform:translateX(-50%) translateY(-50%);
}

.files li
{
    position:relative;
    display:inline-block;
    vertical-align:top;
    font-size:1.2rem;
    width:50%;
    margin:0rem;
    line-height:2.5rem;
}
.files .show_details li
{
    width:100%;
}
.files li.folder.special
{
    width:100%;
}
.item_container
{
    position:relative;
    margin:0.4rem;

    border:1px solid #e0e0e0;
    white-space:nowrap;
    overflow:hidden;
}
li.folder .item_container
{
    height:3.7rem;
}

.files li.updating
{
    border:1px solid #333;
}
.files li.separator
{
    width:100%;
}

.file_info
{
    overflow:hidden;
}
.item_name
{
    width:auto;
    text-overflow:ellipsis;
    overflow:hidden;
    padding:0.5rem 0.5rem 0rem 3.5rem;
    background-size:2rem;
    background-position: 0.7rem center;
    background-repeat:no-repeat;
    white-space:nowrap;
    overflow:hidden;
    letter-spacing:0.01em;
    text-overflow:ellipsis;
}
.show_details .item_name
{
    width:auto;
    float:left;
}
.folder .item_name
{
    font-size:1.3rem;
    position:absolute;
}
.item_size
{
    float:left;
    font-size:1rem;
    padding-left:1rem;
    line-height:2.2rem;
    height:2.2rem;
    color:#9f9f9f;
}
.show_details .item_size
{
    float:right;
}

.item_check,
.item_info,
.item_starred
{
    float:right;
    width:3.0rem;
    background:white;
    text-align:center;
    line-height:1.5rem;
    height:2.2rem;
}

.folder .item_check,
.folder .item_info,
.folder .item_starred
{
    line-height:3.0rem;
    height:auto;
}

.show_details .item_check,
.show_details .item_info,
.show_details .item_starred
{
    line-height:2.5rem;
}
.show_details .folder .item_check,
.show_details .folder .item_info,
.show_details .folder .item_starred
{
    line-height:3.2rem;
}

.show_details .item_size
{
    padding:0.4rem 0px;
}

.item_check:before,
.item_info:before,
.item_starred:before
{
    vertical-align:middle;
    text-align:center;
}

.item_check:before,
.item_info:before,
.item_starred:before
{
    font-size:1.6rem;
    color:#c7c7c7;
}
.item_check
{
}
.item_check:before
{
    color:#818181;
}

.files li.file
{
}

.item_thumb
{
    padding-top:70%;
    background-color:#f0f0f0;
    border-bottom:1px solid #f0f0f0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}
.item_thumb_small
{
    background-color:#fff;
    background-size:17%;
}

.show_details .item_thumb_small
{
    display:none;
}

.show_details .item_thumb
{
    padding-top:40%;
    background-color:transparent;
}
.item_thumb.loading
{
    background-size:30px;
    background-image:url(../../img/loading.gif);
}
.item_thumb.error
{
    background-size:30px;
    background-image:url(../../img/error.png);
}


.files li.no_items
{
    width:100%;
    font-size:1.4rem;
    padding:2rem;
    text-align:center;
}
.upload_btn
{
    position:absolute;
    z-index:4;
    border:4px solid white;
    left:50%;
    margin-left:-5rem;
    bottom:5.2rem;
    width:8rem;
    height:8rem;
    border-radius:100%;
    background:#298bee;
}

.upload_btn .button_text_force
{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1.2rem;
    color:white;
    text-transform:uppercase;
}

